@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";


@theme {
  --font-display: "Roboto", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #FF9324;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
  }
}

@layer components {
  .iFlex-center {
    @apply inline-flex justify-center items-center gap-2;

  }

  .flex-center {
    @apply flex justify-center items-center gap-2;
  }
}